<div class="container">
    <h1>{{title}}</h1>

    <form method="post" action="/products/createnew">
        Product name: <input type="text" name="product_name" /> <br><br>
        Product price: <input type="text" name="product_price" /> <br><br>
        <button type="submit">Submit</button>
    </form>
</div>