<div class="container">
    <h1>{{title}}</h1>

    <form method="post" action="/products/update-product/{{product.id}}">
        Product name: <input type="text" name="product_name" value={{product.name}} /> <br><br>
        Product price: <input type="text" name="product_price" value={{product.price}} /> <br><br>
        <button type="submit">Submit</button>
    </form>
</div>